@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

@font-face {
    font-family: "Polly-Regular";
    src: url("fonts/Polly-Regular.otf") format("opentype");
}

:root {
    --min-color: #25fcd8;
    --min-color1: #555;
    --min-color2: #333;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

*,
::before,
::after {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Polly-Regular", sans-serif;
    color: #fff;
    background-color: var(--min-color2);
    overflow-x: hidden;
}

/* header */
header {
    /* position: fixed; */
    /* top: 0; */
    width: 98%;
    height: 10vh;
    margin: auto;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

#logo1 {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

#logo1 .logo1 img {
    width: 40px;
    height: auto;
    margin: 0;
}

.btns-container i {
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.btns-container .fa:nth-child(2) {
    display: none;
}

/* aside */
.aside {
    width: 100%;
    height: 0%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #222;
    z-index: 999;
}

.show-nav {
    height: 100%;
    overflow: hidden;
}

.aside-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.logo-section {
    min-height: 32vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background-color: #000;
}

.logo {
    display: grid;
    place-items: center;
    text-decoration: none;
}

.logo img {
    width: 128px;
    height: auto;
}

.logo span {
    font-size: 1.7rem;
    color: #fff;
}

.logo-section>span {
    margin-top: 25px;
    color: var(--min-color1);
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
}

/* Navigation Links */
.nav-links a {
    display: flex;
    text-align: center;
    line-height: 3em;
    width: max-content;
    text-decoration: none;
    color: var(--min-color1);
}

.nav-links a:hover {
    color: var(--min-color);
    transition: 0.3s ease-in-out;
}

.nav-links a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    right: 0;
    background-color: #333;
}

/* Social Icons */
.social-icons {
    list-style: none;
    display: flex;
    margin-bottom: 30px;
}

.social-icons li {
    width: 40px;
    font-size: 1em;
}

.social-icons li a {
    text-decoration: none;
    color: var(--min-color1);
}

.social-icons li a:hover {
    color: var(--min-color);
    transition: 0.3s ease-in-out;
}

ul.social-icons {
    padding-left: 0;
}

/* Home Section */
@media screen and (max-width: 820px) {
    #section-home {
        padding: 10% 0 0 0;
        width: 100vw;
        height: 50vh;
        display: flex;
        overflow-x: hidden;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
    }

    .text-zone {
        position: relative;
        width: 90%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .text-zone .desktop {
        display: none;
    }
    
    .text-zone h1.mobile {
        margin: 0;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-weight: bold;
        font-size: 2.5em;
        line-height: 40px;
        letter-spacing: 0.5px;
    }

    .text-zone h1.mobile p{
        margin: 0;
    }
    
    h2#text.text {
        position: absolute;
        height: auto;
        width: 100%;
        top: 50%;
        right: 0;
        margin: 0;
        transform: translate(-.50%, -50%);
    }

    .typed-cursor {
        display: none;
    }

    .text-zone .gray-text {
        color: #a2a2a3;
        letter-spacing: .1rem;
        font-size: 12px;
        margin: 0;
    }

    /* Contact me button */
    .contact-button {
        width: 60%;
        height: 40px;
        display: flex;
        margin-top: 1rem;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        /* max-width: 200px; */
        display: block;
        line-height: 40px;
        letter-spacing: 3px;
        color: var(--min-color);
    }

    .contact-button div {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }

    .contact-button span.bg {
        position: absolute;
        height: 100%;
        width: 0;
        left: -6px;
        top: 0;
        overflow: hidden;
        transform: skewX(-19deg);
        transition: all 0.3s ease-in-out;
        background-color: var(--min-color);
    }

    .contact-button span.base {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        border: 1px solid var(--min-color);
        box-sizing: border-box;
    }

    .contact-button span.text {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
    }

    .skills-charts {
        display: none;
    }

    .marquee {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    .marquee .ul-marquee {
        width: 100%;
        height: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .marquee .ul-marquee .li-marquee{
        width: 100%;
        height: auto;
    }

    .marquee .ul-marquee .li-marquee img {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    /* Scroll Down */
    .scroll-down {
        position: absolute;
        right: -35px;
        left: auto;
        bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: rotate(90deg);
        display: block;
        font-size: 14px;
    }

    .scroll-down--left {
        left: -35px;
        right: auto;
    }

    .scroll-down span {
        display: inline-block;
        animation: scroll 0.5s linear infinite alternate-reverse;
    }

    @keyframes scroll {
        0% {
            transform: translateX(-7px);
        }

        100% {
            transform: translateX(7px);
        }
    }

    .scroll-down .fas {
        transform: rotate(270deg);
        margin-left: 10px;
    }
}

/* Slider Section */
#section-slider .section-slider {
    padding-top: 20rem;
}

/* Work Section */
@media screen and (max-width: 820px) {
    #section-work {
        padding: 5rem 0 5rem 1.5rem;
        position: relative;
        overflow: hidden;
        padding: 50px 5.5px;
    }

    #header h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
        padding-left: 2rem;
        color: var(--min-color);
    }

    .text-zone-2 p {
        line-height: 1.5;
        padding-left: 2rem;
    }


    .fake-big-2 {
        font-size: 12rem;
        font-weight: 700;
        position: absolute;
        color: rgba(85, 85, 85, 0.493);
        left: 10px;
        bottom: -50px;
        letter-spacing: -10px;
        z-index: -1;
    }

    /* Contact button */
    #section-work .contact-buttonW {
        position: relative;
        text-align: center;
        top: 1rem;
        margin-top: 20px;
        text-decoration: none;
        width: 100%;
        height: 40px;
        max-width: 200px;
        display: block;
        line-height: 40px;
        letter-spacing: 3px;
        color: var(--min-color);
        padding-left: 2rem;
    }

    #section-work .contact-buttonW div {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }

    #section-work .contact-buttonW span.bgW {
        position: absolute;
        width: 0;
        height: 100%;
        overflow: hidden;
        left: -6px;
        top: 0;
        transition: all 0.3s ease-in-out;
        background-color: var(--min-color);
        transform: skewX(-19deg);
    }

    #section-work .contact-buttonW:hover span.bgW {
        width: 110%;
    }

    #section-work .contact-buttonW span.baseW {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        border: 1px solid var(--min-color);
        box-sizing: border-box;
    }

    #section-work .contact-buttonW span.textW {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    #section-work .contact-buttonW span.textW:hover {
        color: var(--min-color2);
        border: 1px solid #fff;
    }

    /* Magic Wall */
    .fake-magic-wall {
        background-color: rgba(255, 255, 255, 0.055);
        overflow: hidden;
    }

    .fake-magic-wall .ul-container {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .fake-magic-wall .ul-container .li-container {
        position: relative;
        width: 120px;
        height: 110px;
        overflow: hidden;
        display: list-item;
    }

    .fake-magic-wall .magic-wall-item {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    }

    /* Magic Wall Image  */
    .fake-magic-wall img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 820px) {
    .fake-magic-wall .ul-container .li-container a.colorbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .9;
        text-decoration: none;
        transition: all 150ms ease-out;
    }

    .fake-magic-wall .ul-container .li-container a.colorbox::after {
        content: 'View Project';
        height: 100%;
        width: 100%;
        display: flex;
        color: #ffffff;
        overflow: visible;
        font-size: .6rem;
        font-weight: bolder;
        align-items: center;
        letter-spacing: .1em;
        justify-content: center;
        text-transform: uppercase;
        background-color: #047966a7;
    }

    .fake-magic-wall .ul-container li:hover a.colorbox {
        transform: scale(1.03);
        opacity: 1;
    }
}

#show-more {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

a.show-btnW {
    color: #fff;
    border: 2px solid var(--min-color);
    padding: 10px 50px 10px 50px;
}

a.show-btnW:hover {
    color: var(--min-color2);
    background-color: var(--min-color);
}

a.btnW {
    background-color: var(--min-color2);
}

a p.text:hover {
    border: 1px solid #fff;
    color: var(--min-color);
    cursor: pointer;
}

p.text {
    border: 1px solid var(--min-color);
    padding: 10px 50px 10px 50px;
    color: #fff;
}

/* Scroll U*/
.scroll-up {
    position: absolute;
    right: -25px;
    left: auto;
    top: 250rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    display: block;
    font-size: 14px;
}

.scroll-up--left {
    left: -25px;
    right: auto;
}

.scroll-up span {
    display: inline-block;
    animation: scroll 0.5s linear infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateX(-7px);
    }

    100% {
        transform: translateX(7px);
    }
}

.scroll-up .fas {
    transform: rotate(270deg);
    margin-left: 10px;
}

/* Expanding Cards */
@media screen and (max-width: 820px) {
    #section-cards {
        display: none;
    }
}

@media screen and (max-width: 820px) {

    /* About Section */
    #section-about {
        width: 100%;
        height: auto;
        padding: 5% 5%;
        margin: 5% 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        overflow-x: hidden;
    }

    #section-about #headers h2 {
        color: var(--min-color);
    }

    .text-zone-3 p {
        margin-bottom: 15px;
        line-height: 1.5rem;
    }

    ul.aim-list {
        margin: 0;
        display: grid;
        padding-left: 0.1em;
    }

    ul.aim-list li {
        font-size: 1em;
        margin-bottom: 0.5em;
        margin-left: 2em;
        position: relative;
        list-style: none;
    }

    ul.aim-list li:before {
        content: "";
        left: -2em;
        position: absolute;
        width: 20px;
        height: 20px;
        margin-right: 0.5em;
        background-size: contain;
        background-image: url("../images/bullet.svg");
    }

    .fake-big-3 {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    #portfolio {
        width: 100%;
        padding: 20px;
    }

    .container-md,
    .container {
        max-width: 960px;
        margin: 0 auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .my-wrapper {
        width: 100%;
    }

    .wrapper-box {
        width: 100%;
    }

    .content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .portfolio-nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .portfolio-nav ul.nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
    }

    .portfolio-nav ul.nav li.nav-item af {
        cursor: pointer;
        color: #fff;
        border: 1px solid #ccc;
        list-style: none;
        border-radius: 5px;
        background-color: transparent;
        margin: 5px 0;
    }

    .portfolio-nav .nav-tabs .nav-link.active {
        background-color: #08fdd6;
        color: black;
        border-color: #08fdd6;
    }

    .portfolio-nav ul.nav li a {
        color: #333;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        padding: 5px 5px;
        transition: all 0.3s ease-in-out;
    }

    #image-container {
        position: relative;
        width: 90%;
        height: 80vh;
        overflow: hidden;
    }

    #displayed-image {
        width: 100%;
        height: 100%;
        display: block;
    }

    .arrows {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    .arrow-button {
        position: sticky;
        top: 0%;
        transform: translateY(50%);
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        cursor: pointer;
        font-size: 20px;
        padding: 10px 15px;
        border-radius: 5px;
    }

    #prev-button {
        left: 10px;
    }

    #next-button {
        right: 10px;
    }

    #image-counter {
        margin-top: 10px;
        font-size: 16px;
    }

    @media screen and (min-width: 821px) {

        .content>div:not(#image-container.random),
        .content>#image-counter {
            display: none;
        }
    }
}

/*Blog section  */
@media screen and (max-width: 820px) {
    .section-blog {
        position: relative;
        width: 85%;
        overflow: hidden;
    }

    .section-blog .fake-big-4 {
        display: none;
    }

    .blog-articles {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .post-articles {
        overflow-x: hidden;
        width: 100%;
        height: 230px;
        background-color: var(--min-color2);
        padding: 25px;
        color: #909096;
        box-shadow: 0 0 2px 2px #222222;
        margin-bottom: 30px;
    }

    .post-date {
        font-size: 14px;
        letter-spacing: 3px;
        text-transform: capitalize;
    }

    .blog-post-title h5 a {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: var(--min-color);
        display: block;
        margin: 15px 0;
    }

    .blog-post-title h5 a:hover {
        color: #fff;
        transition: 0.3s all ease-in;
    }

    .blog-post-title h5 a.you:hover {
        color: #ff2200db;
    }

    .blog-post-title h5 a.ig:hover {
        color: #ff00c8;
    }

    .blog-post-title h5 a.twit:hover {
        color: #007bff;
    }
}

/* End of Blog */

/* Media Query For Larger Screens */
@media screen and (min-width: 821px) {

    *,
    html {
        border: 0;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        height: 100%;
    }

    /* Navigation */
    header {
        justify-content: flex-end;
        display: none;
    }

    .btns-container {
        display: none;
    }

    .aside {
        display: flex;
        width: 10%;
        height: 100%;
    }

    .aside-wrapper {
        height: 90%;
    }

    .logo-section {
        min-height: 25vh;
    }

    .logo img {
        width: 100px;
        height: auto;
    }

    .social-icons {
        margin-bottom: 0;
    }

    .social-icons li {
        text-align: center;
        font-size: 1em;
    }

    /*Home Section */
    #section-home.section-home {
        position: relative;
        width: 100vw;
        height: 70vh;
        display: flex;
        overflow: hidden;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 0 12%;
    }

    .text-zone {
        position: relative;
        margin: 0;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .text-zone h1.mobile {
        display: none;
    }

    .text-zone h1.desktop {
        font-size: 5em;
        font-weight: bold;
        line-height: 90%;
        letter-spacing: 1px;
        margin: 0;
    }

    .text-zone h2#text.text {
        position: absolute;
        top: 58%;
        left: 0;
        font-size: 2.5em;
        font-weight: bold;
        line-height: 40%;
    }

    .typed-cursor {
        display: none;
    }

    .text-zone .gray-text {
        display: flex;
        font-size: 1em;
        margin: 0;
    }

    .section-home::after {
        content: "CREATE";
        position: absolute;
        font-size: 30rem;
        left: 3%;
        width: 100%;
        height: 100%;
        display: flex;
        font-weight: bolder;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        color: hsla(0, 0%, 82%, 0.125);
        z-index: -99;
    }

    /* Contact me button */
    .contact-button {
        position: relative;
        text-align: center;
        margin-top: 15px;
        text-decoration: none;
        width: 100%;
        height: 40px;
        max-width: 200px;
        display: block;
        line-height: 40px;
        letter-spacing: 3px;
        color: var(--min-color);
    }

    .contact-button div {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }

    .contact-button span.bg {
        position: absolute;
        width: 0;
        height: 100%;
        overflow: hidden;
        left: -6px;
        top: 0;
        transition: all 0.3s ease-in-out;
        background-color: var(--min-color);
        transform: skewX(-19deg);
    }

    .contact-button:hover span.bg {
        width: 110%;
    }

    .contact-button span.base {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        border: 1px solid var(--min-color);
        box-sizing: border-box;
    }

    .contact-button span.text {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
    }

    .contact-button span.text:hover {
        color: var(--min-color2);
        border: 1px solid #fff;
    }

    .contact-button:hover {
        cursor: pointer;
    }

    .skills-chart {
        width: 50%;
    }

    .marquee {
        display: none;
    }

    .scroll {
        position: absolute;
        top: 76%;
        left: 12%;
        width: 85%;
        height: 15vh;
        display: flex;
        justify-content: space-between;
    }

    .scroll-down {
        display: flex;
        font-size: 0.875rem;
        align-items: center;
        transform: rotate(90deg);
    }

    .scroll-down span {
        animation: scroll 0.5s linear infinite alternate-reverse;
    }

    @keyframes scroll {
        0% {
            transform: translateX(-7px);
        }

        100% {
            transform: translateX(7px);
        }
    }

    .scroll-down .fas {
        transform: rotate(270deg);
        margin-left: 10px;
    }

    .scroll-down--left {
        right: auto;
    }

    /* Slider Section */
    #section-slider.section-slider {
        width: 90%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 10%;
    }

    /* Work Section */
    .section-work {
        position: relative;
        width: 90%;
        height: 30%;
        margin: 0 10%;
        padding: 0 4%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    }

    #headers {
        display: flex;
        color: var(--min-color);
    }

    #header h2 {
        color: #25fcd8;
        font-weight: 600;
        font-size: 2.5rem;
        letter-spacing: 0.06em;
    }

    .text-zone-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    .text-zone-2 p {
        width: 700px;
        font-size: 14px;
        text-align: start;
        line-height: 1.4rem;
    }

    /* Contact button */
    #section-work .contact-buttonW {
        text-align: center;
        text-decoration: none;
        width: 100%;
        height: 40px;
        max-width: 200px;
        line-height: 40px;
        letter-spacing: 0.187rem;
        color: var(--min-color);
    }

    #section-work .contact-buttonW div {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }

    #section-work .contact-buttonW span.bgW {
        position: absolute;
        height: 100%;
        width: 0;
        top: 0;
        left: -6px;
        overflow: hidden;
        transform: skewX(-19deg);
        transition: all 0.3s ease-in-out;
        background-color: var(--min-color);
    }

    #section-work .contact-buttonW:hover span.bgW {
        width: 110%;
    }

    #section-work .contact-buttonW span.baseW {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        border: 1px solid var(--min-color);
        box-sizing: border-box;
    }

    #section-work .contact-buttonW span.textW {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    #section-work .contact-buttonW span.textW:hover {
        color: var(--min-color2);
        border: 1px solid #fff;
    }

    .fake-big-2 {
        position: absolute;
        font-size: 20rem;
        font-weight: 700;
        left: 20%;
        top: 0;
        z-index: -99;
        text-transform: uppercase;
        color: hsla(0, 0%, 82%, 0.125);
    }

    /* Magic Wall */
    #fake-magic-wall.fake-magic-wall {
        width: 90%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 10%;
    }

    .fake-magic-wall .ul-container {
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: hsla(0, 0%, 82%, 0.125);
    }

    .fake-magic-wall .ul-container .li-container {
        width: 15%;
        height: auto;
        overflow: hidden;
        list-style: none;
        display: list-item;
    }

    .fake-magic-wall .magic-wall-item {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .fake-magic-wall img {
        margin: 0;
        /* display: block; */
    }

    .fake-magic-wall .ul-container .li-container a.colorbox {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 35%;
        opacity: .9;
        text-decoration: none;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 150ms ease-out;
    }

    .fake-magic-wall .ul-container .li-container a.colorbox::after {
        content: 'View Project';
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-weight: bolder;
        letter-spacing: .1em;
        text-transform: uppercase;
        background-color: #047966dc;
        overflow: visible;
    }

    .fake-magic-wall .ul-container .li-container:hover a.colorbox {
        transform: scale(1.03);
        opacity: 1;
    }

    /* Expanding Cards */
    #section-cards {
        padding: 0;
        width: 90vw;
        height: 65vh;
        display: flex;
        margin: 0 0 0 10%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #cat-head {
        height: 20%;
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--min-color);
        /* margin: 0 0 0 12%; */
    }

    #cat-head h2 {
        font-weight: 600;
        font-size: 2.5rem;
        letter-spacing: 0.05em;
    }

    .container {
        width: auto;
        flex: 0.5;
        margin: 0;
        flex: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container .panel {
        cursor: pointer;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: flex .3s ease-in-out;
        border-radius: 20px;
        overflow: hidden;
    }

    .panel {
        cursor: pointer;
        flex: 0.5;
        margin: 5px;
        height: 60vh;
        width: 100vw;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        transition: flex 1s ease-in-out;
    }

    .panel a {
        width: 100vw;
        height: 50vh;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: #0000006b;
        background-position: center;
        background-size: contain;
        color: var(--min-color);
        letter-spacing: .1rem;
        font-weight: bolder;
        font-size: 20px;
        opacity: 100;
        text-transform: uppercase;
        text-decoration: none;
    }

    .panel.active:hover {
        transition: .5s ease-in-out;
        transform: scale(1) translateZ(0);
    }

    .container:hover .panel:not(:hover) {
        transform: scale(.9);
        transition: .5s ease-in-out;
    }

    .container:not(:hover) {
        transition: .5s ease;
    }

    .container:hover>.panel:not(:hover),
    .container:hover>.panel:not(:hover) {
        filter: brightness(1) saturate(0) contrast(1) blur(5px);
    }

    .panel.active a {
        opacity: 5;
        transition: opacity 100ms ease-in-out 200ms;
    }

    .panel.active a:hover {
        scale: 100%;
        color: #1effda;
        font-weight: bolder;
        transition: ease-in-out 100ms;
    }

    /* Portfolio */
    #portfolio {
        display: none;
    }

    /* Scroll Down */
    .scroll-up {
        position: absolute;
        right: -30px;
        left: auto;
        top: 160rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transform: rotate(90deg);
        font-size: 14px;
        display: block;
    }

    .scroll-up--left {
        left: 150px;
        right: auto;
    }

    .scroll-up span {
        display: inline-block;
        animation: scroll 0.5s linear infinite alternate-reverse;
    }

    @keyframes scroll {
        0% {
            transform: translateX(-7px);
        }

        100% {
            transform: translateX(7px);
        }
    }

    .scroll-up .fas {
        transform: rotate(270deg);
        margin-left: 10px;
    }

    /* About section */
    #section-about.section-about {
        position: relative;
        padding: 0;
        width: 85%;
        height: 60vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        margin: 0 0 0 12%;
        overflow: hidden;
    }

    .text-zone-3 #header h2 {
        position: absolute;
        color: #08fdd6;
        font-weight: 600;
        font-size: 2.5rem;
        letter-spacing: .05em;
    }

    .text-zone-3 p {
        width: 550px;
        margin-top: 0;
        text-align: left;
        font-size: 1rem;
    }

    ul.aim-list {
        margin: 0;
        display: grid;
        padding-left: 0.1em;
    }

    ul.aim-list li {
        font-size: 1em;
        margin-bottom: 0.3em;
        margin-left: 2em;
        position: relative;
        list-style: none;
    }

    ul.aim-list li:before {
        content: "";
        left: -2em;
        position: absolute;
        width: 20px;
        height: 20px;
        margin-right: 0.5em;
        background-size: contain;
        background-image: url("../images/bullet.svg");
    }

    .jake {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .jake img {
        width: 50%;
        margin: 0;
    }

    .fake-big-3 {
        position: absolute;
        font-size: 40rem;
        font-weight: 700;
        left: -20%;
        top: -35%;
        z-index: -99;
        color: hsla(0, 0%, 82%, 0.058);
        text-transform: uppercase;
    }

    #portfolio {
        display: none;
    }

    /* Blog section */
    .section-blog {
        position: relative;
        width: 90%;
        height: 50vh;
        display: flex;
        margin: 0 0 0 10%;
        padding: 0 2%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .section-blog .fake-big-4 {
        position: absolute;
        left: 0%;
        bottom: -40%;
        z-index: -99;
        font-weight: 700;
        font-size: 28rem;
        text-transform: uppercase;
        color: hsla(0, 0%, 82%, 0.125);
    }

    .blog-articles {
        width: 100%;
        height: 40vh;
        margin: 0 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    .post-articles {
        width: 25rem;
        height: 10rem;
        margin: 0;
        background-color: var(--min-color2);
        padding: 25px;
        color: #dbdbdb;
        box-shadow: 0 0 2px 2px #222222;
    }

    .blog-post-title h5 a {
        color: #0fc8aa;
        font-size: 1.7rem;
        line-height: 2rem;
        text-decoration: none;

    }
}

/* Cursor */
@media only screen and (min-width: 1024px) {
    .cursor {
        width: 1rem;
        height: 1rem;
        border: 1px solid #987;
        border-radius: 50%;
        position: absolute;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        animation: cursorAnim 0.7s infinite alternate;
        pointer-events: none;
        z-index: 1000;
    }

    @keyframes cursorAnim {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(0.7);
        }
    }

    @keyframes cursorAnim2 {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(0.4);
        }
    }

    @keyframes cursorAnim3 {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(3);
        }

        100% {
            transform: scale(1);
            opacity: 0;
        }
    }

    .expand {
        animation: cursorAnim3 0.5s forwards;
        border: 1px solid aqua;
    }

    p {
        color: white;
        font-family: "arial";
        text-align: center;
        margin-top: 50px;
        font-size: 1.4em;
    }

    a {
        color: teal;
    }
}

.gallery {
    columns: 300px;
}

img {
    width: 100%;
    margin-bottom: 1em;
}

.slider__container {
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    -o-transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
}

.slider__page {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider__indicators {
    position: fixed;
    right: 3.125rem;
    top: 50%;
    z-index: 2;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider__indicator {
    display: block;
    width: .625rem;
    height: .625rem;
    margin: 1.5625rem 0;
    border-radius: 50%;
    background-color: #fff;
    cursor: default;
    transition: all ease .5s;

}

.slider__indicator--active {
    opacity: 1;
    background-color: #E31C25;
}

@media (max-width:767.98px) {
    .slider__indicator {
        display: none;
    }
}